---
---

@import "{{ site.theme }}";

.page-header {
    background-color: #d0021b;
    background-image: linear-gradient(120deg, #6d0815, #d0021b);
}

.highlight .err {
    color: inherit;
    background-color: inherit;
}

.site-footer {
    text-align: center;
}
